DATABASE_URL="file:/app/prisma/dev.db"
APP_PORT=3333
TOKEN_SECRET=senha_super_secreta
REFRESH_TOKEN_SECRET=senha_super_secreta
TOKEN_EXPIRATION=15min
REFRESH_TOKEN_EXPIRATION=1d
NODE_ENV="development"
FRONTEND_URL=http://localhost