services:
  app:
    build:
      context: .
      dockerfile: dockerfile
    env_file:
      - .env
    ports:
      - '${APP_PORT}:3000'
    restart: unless-stopped
  nginx:
    image: nginx:alpine
    restart: always
    ports:
      - '80:80'
      - '443:443'
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
